* {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do conteúdo principal */
main {
    max-width: 1450px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #d0f6ffed;
    color: #333;

}

/* Estilo do cabeçalho */
header {
    background-color: #000000;
    border-radius: 30px;
    color: #fff;
    text-align: center; /* Alinha o conteúdo à esquerda */
    padding: 15px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

/* Estilo da imagem no cabeçalho */
header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    
}

/* Estilo do título no cabeçalho */
header h1 {
    font-size: 36px;
    margin: 0;
}

/* Estilo dos links no cabeçalho */
header a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul{
    list-style-type: none;
    padding-left: 20px;
}
header nav ul li{
    margin-bottom: 10px;
}

header .alane-contato button{
    color: #ffffff; 
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    background-color: #00b7ff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

header a:hover {
    color: #72adff;
}

article{
    padding: 20px;
}
/* Estilo dos títulos de seção */
h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    padding: 15px 0px;
} 

h3{
    color: #1296bb;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 13px 0px;
}
/* Estilo das seções de biografia */
.bio {
    font-size: 18px;
}

/* Estilo das seções de galeria de imagens */
article img {
    max-width: 100%;
    max-height: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform 0.5s; /* Adiciona uma transição suave de 0.3 segundos */
}

article ul li{
    list-style-type: none;
    display: flex; /* Permite centralizar horizontalmente */
    text-align: center; /* Centraliza o texto dentro do link */
    justify-content: center;/* Centraliza o conteúdo horizontalmente */
}
article a{
    color: #ffffff; 
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    background-color: #000000;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado */
    transition: transform 0.5s;;
}

article img:hover {
    transform: scale(1.4); /* Aumenta a escala da imagem em 10% */
}

.musicas{
    font-family: 'Poppins', sans-serif; /* Aplicando a fonte Poppins para todo o documento */
    background-color: #c8cfe1; /* Cor de fundo do corpo da página */
    margin: 0; /* Removendo margens padrão do corpo */
    padding: 0; /* Removendo preenchimento padrão do corpo */
}

.musicas main{
    max-width: 1100px; /* Largura máxima do conteúdo principal */
    margin: 0 auto; /* Centralizando o conteúdo na página */
    padding: 20px; /* Adicionando preenchimento ao redor do conteúdo */
    background-color: #fff; /* Cor de fundo do conteúdo principal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionando sombra ao conteúdo principal */
    border-radius: 10px; /* Adicionando borda arredondada ao conteúdo principal */
}

.musicas h1{
    background-color: #000000;
    border-radius: 10px;
    font-size: 32px; /* Tamanho da fonte para o título principal */
    margin-bottom: 20px; /* Espaçamento inferior para o título principal */
    color: #ffffff; /* Cor do texto para o título principal */
    text-align: center; /* Centralizando o texto do título principal */
       
}
.musicas h2{
    font-size: 18px;
    text-align: center; /* Centraliza o texto */
    color: #0987b8;
}

.video-container {
    padding: 10px; /* Proporção do vídeo (9:16) */
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
}

.video-container img {
    width: 500px; /* Define a largura da imagem */
    height: 300px; /* Define a altura da imagem */
    border-radius: 10px;
}

.video-container h3 {
    font-size: 12px;
    text-align: center; /* Centraliza o texto */
    color: #011882;
    margin-top: 0px; /* Espaçamento entre a imagem e o texto */
}

.minha-historia{
    background-color: #ffffff;
    height: 120px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #1e1e1e;
    display: flex; /* Adiciona um display flex para alinhar os itens verticalmente */
    justify-content: left; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
}

.minha-historia img{
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    height: 100px
}

.minha-historia h2{
    font-size: 15;
    padding: 50px;
    color: #000000;
    align-items: center; /* Centraliza os itens verticalmente */
    
}

.seta{
    margin-top: 50px;
    height: 40px;
    margin-left: 20px;
}

footer {
    background-color: #333;
    width: 1450px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    margin: 0 auto; /* Adicionado para centralizar horizontalmente */
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}